body {
  margin: 40px;
  min-height: 100vh;
 /* background-color: pink; */
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}

footer {
	grid-area: footer;
}

.wrapper {
	display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(100px, 200px) 1fr  1fr;
  grid-template-areas:
    "header header header"
		"main main sidebar"
    "footer footer footer";
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

header.box, footer.box {
  background-color: #999;
}